# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

run/*
!run/kubejs
run-data/
/src/generated/resources/.cache/*
/run/kubejs/config/client.properties
/run/kubejs/config/common.properties
/run/kubejs/README.txt
